* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

nav {
  width: 100%;
  height: 77px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav a {
  text-decoration: none;
  color: #9698a6;
  font-size: 18px;
  margin-right: 32px;
}
nav a:last-child {
  margin-right: 0px;
}
nav a:hover {
  border-bottom: solid 2px #31d35c;
}
nav img {
  position: absolute;
  left: 164px;
}
nav .request-invite {
  text-align: center;
  width: 161px;
  height: 45px;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "Public-sans", Sans-serif;
  border: none;
  border-radius: 20px;
  padding: 16px 18px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  right: 164px;
}
nav .request-invite:hover {
  cursor: pointer;
}

.hero,
.content-section,
.card-displays {
  width: 100%;
  height: 661px;
}

.hero {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.hero div {
  width: 50%;
  height: 100%;
}
.hero .svg-bg {
  position: absolute;
  top: -280px;
  right: -480px;
}
.hero .phones {
  position: absolute;
  top: -150px;
  right: -140px;
}
.hero .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-text h1 {
  font-size: 50px;
  font-weight: 300;
  color: #2d314d;
}
.hero .hero-text p {
  font-size: 18px;
  color: #9698a6;
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 36px;
}
.hero .hero-text .request-invite {
  text-align: center;
  width: 161px;
  height: 45px;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "Public-sans", Sans-serif;
  border: none;
  border-radius: 20px;
  padding: 16px 18px;
  line-height: 1;
  margin-top: 30px;
  margin-right: 250px;
}

.content-section {
  background-color: #f3f4f6;
}
.content-section .top {
  padding-top: 110px;
  padding-left: 157px;
}
.content-section .top .sub-heading {
  color: #2d314d;
  font-size: 50px;
  font-weight: 300;
}
.content-section .top .text {
  font-size: 18px;
  color: #9698a6;
  line-height: 1.4;
  padding-top: 40px;
}
.content-section .features {
  display: flex;
  flex-direction: row;
  padding-top: 72px;
  padding-left: 157px;
}
.content-section .features div {
  padding-right: 26px;
}
.content-section .features div img {
  padding-bottom: 36px;
}
.content-section .features div h3 {
  color: #2d314d;
  font-weight: 300;
  font-size: 24px;
}
.content-section .features div p {
  color: #9698a6;
  font-size: 18px;
  padding-top: 28px;
  line-height: 1.4;
}
.content-section .features div:last-child {
  padding-right: 0px;
}

.card-displays {
  background-color: #fafafa;
}
.card-displays h1 {
  padding-top: 80px;
  margin-left: 154px;
  font-size: 34px;
  font-weight: 300;
  color: #2d314d;
}
.card-displays .wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-displays .card {
  width: 256px;
  height: 400px;
  margin-right: 27px;
  padding-top: 50px;
  border-radius: 10px;
}
.card-displays .card img {
  width: 100%;
  height: 201px;
}
.card-displays .card .info {
  background-color: white;
  padding: 22px 35px 23px 22px;
}
.card-displays .card .info > * {
  margin-bottom: 12px;
}
.card-displays .card h4 {
  font-weight: 400;
  font-size: 17px;
  color: #2d314d;
}
.card-displays .card .author {
  font-size: 10px;
  color: #9698a6;
}
.card-displays .card .pbody {
  font-size: 14px;
  color: #9698a6;
  line-height: 1.4;
  margin-bottom: 0px;
}

footer {
  width: 100%;
  height: 190px;
  background-color: #2d314d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .chunk {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 135px;
}
footer .socials {
  padding-top: 49px;
}
footer .socials img {
  padding-right: 10px;
}
footer .socials img:last-child {
  padding-right: 0px;
}
footer .tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .tags a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  padding-top: 20px;
}
footer .tags .column {
  margin-right: 87px;
  display: flex;
  flex-direction: column;
}
footer .request-invite {
  text-align: center;
  width: 161px;
  height: 45px;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "Public-sans", Sans-serif;
  border: none;
  border-radius: 20px;
  padding: 16px 18px;
  line-height: 1;
  cursor: pointer;
}
footer .copyright {
  color: #9698a6;
  margin-top: 26px;
}

/*# sourceMappingURL=style.css.map */
